<html>
    <head>
        <title> Create Data Container </title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100"     rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
      </head>
    <body>
      <div class="container">
    <h2> Create Data Container </h2>
    <form action ="/container-creation" method="POST">
           <input type="text" name="apiKey" placeholder="Enter User's Key">     
           <input type="text" name="key" placeholder="Enter Key"> 
           <input type="text" name="value" placeholder="Enter Value">   
           <button> Submit Request </button>
    </form>
    </div>
    <%= message %> 
    </body>
    
</html>